body {
	align-items: center;
	background-color: $bg-clr-start;   //fallback
	background: linear-gradient(135deg, $bg-clr-start, $bg-clr-stop);
	display: flex;
	flex-direction: column;
	font-family: "Josefin Sans", sans-serif;
	font-weight: $fw-400;
	min-height: 100vh;
}