html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  align-items: center;
  background-color: hsl(0deg, 0%, 100%);
  background: linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
  display: flex;
  flex-direction: column;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  min-height: 100vh;
}

.page {
  display: grid;
  grid-template-columns: 1fr 23.4375rem 1fr;
}

.logo {
  grid-column: 2/2;
  padding: 1.5625rem 0 1.3125rem 0.1875rem;
}

.logo__img {
  transform: scale(0.65);
}

.hero {
  background-image: url(../images/hero-mobile.jpg);
  background-repeat: no-repeat;
  grid-column: 2/2;
  padding: 33.25%;
  text-align: center;
}

.content {
  grid-column: 2/2;
  padding: 62px 33px 0 33px;
}

.content__title {
  color: hsl(0deg, 36%, 70%);
  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: 0.6875rem;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}

.content__title--bold {
  color: hsl(0deg, 6%, 24%);
  font-weight: 400;
}

.content__text {
  color: hsl(0deg, 36%, 70%);
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.6;
  padding: 0.75rem 0 0 0;
  text-align: center;
}

.content__input {
  margin: 1.8125rem 0 0 0;
  position: relative;
}

.input-email-rounded {
  background: none;
  border: 0.0625rem solid hsl(0deg, 36%, 70%);
  border-radius: 100vmax;
  padding: 1.0625rem 0.625rem 0.8125rem 1.25rem;
  width: 100%;
}

.input-email-rounded::-moz-placeholder {
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

.input-email-rounded:-ms-input-placeholder {
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

.input-email-rounded::placeholder {
  color: hsl(0deg, 36%, 70%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 0.9rem;
}

.btn-rounded {
  background: linear-gradient(135deg, hsl(0deg, 80%, 86%), hsl(0deg, 74%, 74%));
  border: none;
  border-radius: 100vmax;
  box-shadow: 0px 10px 20px -10px rgba(142, 140, 137, 0.9);
  cursor: pointer;
  display: block;
  opacity: 1;
  padding: 0.875rem 1.625rem 0.6875rem 1.625rem;
  position: absolute;
  right: 0;
  transition: opacity 200ms;
  top: 0;
}

.btn-rounded:hover {
  opacity: 0.5;
}

.btn-rounded::before {
  content: url(../images/icon-error.svg);
  display: none;
  position: absolute;
  right: 4.75rem;
  top: 25%;
}

.btn-rounded::after {
  content: url(../images/icon-arrow.svg);
}

.error-email {
  color: hsl(0deg, 93%, 68%);
  display: none;
  font-size: 0.875rem;
  margin: 0.625rem 0 0 1.25rem;
}

@media screen and (min-width: 1100px) {
  body {
    align-items: flex-end;
    background: url(../images/bg-pattern-desktop.svg), linear-gradient(135deg, hsl(0deg, 0%, 100%), hsl(0deg, 100%, 98%));
    background-repeat: repeat no-repeat;
    background-size: cover cover;
  }

  .page {
    display: grid;
    grid-template-columns: 1fr 507px minmax(0rem, 12rem) 610px;
    grid-template-rows: auto 1fr;
    grid-template-areas: ". logo    . hero" ". content . hero";
    height: 100vh;
  }

  .logo {
    grid-area: logo;
    padding: 4rem 0 0 2.0625rem;
  }

  .logo__img {
    transform: none;
  }

  .content {
    grid-area: content;
  }

  .hero {
    grid-area: hero;
    background-image: url(../images/hero-desktop.jpg);
    background-size: cover;
  }

  .content {
    padding: 3.1875rem 1.5rem 0 2.0625rem;
  }

  .content__title {
    font-size: 4.0625rem;
    letter-spacing: 1.0625rem;
    line-height: 1.05;
    padding: 4.875rem 0 0 0;
    text-align: left;
  }

  .content__text {
    font-size: 1.0625rem;
    letter-spacing: -0.45px;
    padding: 22px 0 0 0;
    text-align: left;
  }

  .content__input {
    margin: 2.5rem 0 0 0;
  }

  .input-email-rounded {
    padding: 1.3125rem 0.625rem 1.0625rem 1.875rem;
  }

  .input-email-rounded::-moz-placeholder {
    font-size: 1rem;
  }

  .input-email-rounded:-ms-input-placeholder {
    font-size: 1rem;
  }

  .input-email-rounded::placeholder {
    font-size: 1rem;
  }

  .btn-rounded {
    padding: 1.125rem 2.6875rem 0.9375rem 2.6875rem;
  }
}/*# sourceMappingURL=main.css.map */